<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<p>
  <%= link_to new_artist_path do %>
    <i class="glyphicon glyphicon-plus"></i> Add
  <% end %>
</p>

<div class="row">
  <% @artists.each do |artist| %>
    <div class="col-md-6">
      <div class="well">
        <h2><%= link_to artist.name, artist %></h2>
        <p>
          <%= link_to edit_artist_path(artist) do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
          <%= link_to artist, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>